@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@800&display=swap');

body {
  /* background-color: aquamarine; */
  background: #f0f0f0
}


/* Style for login page*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

header .header {
  background-color: #fff;
  height: 45px;
}

header a img {
  width: 134px;
  margin-top: 4px;
}

.login-header {
  font-family: Arial, Helvetica, sans-serif;
}

/*The entire login page minus the nav bar*/
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:
    linear-gradient(#ae445a, transparent),
    linear-gradient(90deg, #451952, transparent),
    linear-gradient(-90deg, #662549, transparent);
}

/*Account creation page*/
.create-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:
    linear-gradient(#ae445a, transparent),
    linear-gradient(90deg, #451952, transparent),
    linear-gradient(-90deg, #662549, transparent);
  background-blend-mode: screen;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-content {
  max-width: 650px;
  padding: 20px;
}


/*Login input form*/
.form {
  color: white;
  position: relative;
  z-index: 1;
  background: black;
  max-width: 360px;
  margin: 0px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #E8BCB9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  color: black;
}

.form .message {
  margin: 15px 0 0;
  color: white;
  font-size: 12px;
}

.form .message a {
  color: #e8bcb9;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-link {
  background: linear-gradient(45deg, #328f8a, #08ac4b);
  border: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1D1A39;
  background: #E8BCB9;
}

/* React buttons*/
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary,
progress {

  background-color: #bd5851 !important;
}

/* Adjust styles for Today button */
.rbc-btn-group .today-button {
  background-color: #28a745;
}


/*Show users button*/
#showUsers {
  float: left;
  border-radius: 12px;
  /*top, right, bottom, left*/
  margin: 1px 8px 5px 8px;
}

/*Show timeslots button*/
#showTimeslots {
  float: right;
  border-radius: 12px;
  margin: 1px 8px 5px 8px;
}

#showTimeSlot:hover {
  background-color: #e7e7e7;
  color: white;
}

/*CSS for HomePage.js*/
.home-page {
  background:
    linear-gradient(#ae445a, transparent),
    linear-gradient(90deg, #451952, transparent),
    linear-gradient(-90deg, #662549, transparent);
  background-blend-mode: screen;
  height: calc(100vh - 69.6px);


}

.navbar-dark {
  background-color: rgba(61, 39, 84, 1);
}

.home-content {
  font-family: Times New Roman;
  color: white;
  border-radius: 12px;
  background-color: #1D1A39;
  box-shadow: 0px 0px 10px 5px#1D1A39;
}

/*CSS for Calendar.js page*/

.rbc-calendar {
  font-family: 'Poppins', sans-serif;
}

/* Styling the toolbar */
.rbc-toolbar {
  background-color: #f0f0f0;
}

/* Styling the date header */
.rbc-header {
  background-color: #e0e0e0;
  color: #333;
}

.rbc-agenda-view .rbc-agenda-time-cell,
.rbc-agenda-view .rbc-agenda-event-cell,
.rbc-agenda-view .rbc-agenda-date-cell {
  color: #fff;
}


/* Styling individual days in day and week views */
.rbc-day-bg {
  border-top: 1px solid #ccc;
  /* Set the top border */
  border-bottom: none;
  /* Clear the bottom border */
  border-left: none;
  /* Clear the left border */
  border-right: none;
  /* Clear the right border */
}

/* Styling individual events */
.rbc-event {
  background-color: #4285f4;
  color: #fff;
  border: 0px solid #4285f4;
}

/* Styling selected time slot */
.rbc-slot-selection {
  background-color: rgba(66, 133, 244, 0.3);
}

.rbc-slot {
  border: none;
}

/* Custom styling for a specific event */
#my-custom-event {
  background-color: #ff7043;
  color: #fff;
}


.rbc-toolbar-label {
  font-weight: bold;
  margin-top: 5.5px;
}

.rbc-button-group {
  margin-top: 60px;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  /* ... your existing styles */
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
}

.contain-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  /* Adjust the top margin as needed */
}

.transparent-button {
  background-color: transparent !important;
  border: none !important;
  color: #007bff;
  /* Set the text color to the desired color */
}

.transparent-button:hover {
  background-color: transparent !important;
  border: none !important;
  color: #0056b3;
  /* Set the text color when hovered */
}

.button-bottom {
  outline: none;
  outline-color: #000000;
  box-shadow: none;
  background-color: none;
  color: #000000;
  /* Text color for "Next" button */
}

.button-bottom:hover {
  background-color: #333;
  color: #000000;
}

.button-top {
  outline: none;
  box-shadow: none;
  background-color: #854F6C;
  color: #ffffff;
  /* Text color for "Next" button */
}

.button-modal {
  outline: none;
  box-shadow: none;
  background-color: #2B124C;
  color: #ffffff;
}

/*Create Meeting Button and help button*/
.meetingModificationButton {
  border-radius: 8px;
  background-color: #1D1A39;
  color: white;
  box-shadow: 0px 0px 10px 1px grey;
  transition: .3s background-color;

}

#meetingButton:hover,
#helpButton:hover {
  background-color: silver;
  color: black;
}

/*Meeting Button*/
#meetingButton {
  margin: 10px 0px 5px 8px;
}

/*Help button*/

#helpButton {
  float: right;
  margin: 10px 8px 5px 0px;
}

/*Account Information Page*/
.account-information {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90.6vh;
  background:
    linear-gradient(#ae445a, transparent),
    linear-gradient(90deg, #451952, transparent),
    linear-gradient(-90deg, #662549, transparent);
  background-blend-mode: screen;
}

.dropdown {
  margin-right: 8px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}